@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="background-image: url('@Url.Content("~/Images/MUFG.jpeg")'); background-size: cover; background-position: center; height: 100vh;">
    <!-- Konten di dalam row -->
</div>




